@import "~@feizheng/react-modal-manager/dist/style.scss";
.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    &.hidden {
        display: none;
    }
}

.Statistics {
    display: none;
    &.visible {
        display: block;
        width: 70px;
        background-color: rgb(249, 255, 168);
    }
}