@import "../../styles/index.scss";
.App {
    @include borders(#fff, #999);
    background-color: #c2c2c2;
    padding: 16px;
}

.Header {
    @include borders(#7b7b7b, #fff);
    background-color: #c0c0c0;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Face {
        @include borders;
        @include buttons;
        width: 52px;
        height: 52px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.Body {
    @include borders(#7b7b7b, #fff);
    margin-top: 16px;
    display: grid;
    &.level-0 {
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    &.level-1 {
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(16, 1fr);
    }
    &.level-2 {
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(30, 1fr);
    }
}